text
cdrom
lang en_US.UTF-8
keyboard de
timezone --utc Europe/Vienna
rootpw  --plaintext cloudinit
selinux --disabled
firewall --service=ssh
zerombr
clearpart --all --drives=vda
ignoredisk --only-use=vda
part /boot --fstype=ext2 --asprimary --size=256
part pv.01 --grow --asprimary --size=1700
volgroup kvg pv.01
logvol / --fstype=ext4 --name=root --vgname=kvg --size=1700
bootloader --location=mbr --driveorder=vda --append="nomodeset console=tty0 console=ttyS0,115200n8"
network --device=eth0 --bootproto=dhcp --noipv6
services --enabled=acpid,ntpd,sshd,cloud-init
shutdown
%post --log=/root/postinstall.log
hostnamectl set-hostname c7lvm
sed -i 's/rhgb quiet//' /etc/sysconfig/grub
sed -i 's/rhgb quiet//' /etc/default/grub
yum install -y openssh-server cloud-init ntp wget curl vim acpid sudo deltarpm yum-utils cloud-utils cloud-utils-growpart
yum update -y
package-cleanup --oldkernels --count=1
yum clean all -y
grub2-mkconfig -o /boot/grub2/grub.cfg
mkdir -m0700 /root/.ssh/
#---- Install our SSH key ----
cat <<EOF >/root/.ssh/authorized_keys
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDQkdMSd8gUuBl44EugvLE4t5cQDVBNUOKeSF6Z72iB5RLlPv2grAmthQyA6gw3EF/VTHhzYB/q+MZIwx//pe/LFjC9g7/kSGDjbtCWIx4IXWhgNpq45tZsChJtmrdD1l1CAii5rvzL3YgWcCwKjSP8fiOgpIt3qXjaVLDHcPF7evSllExO/MgXwoV7iWeEUmBzvFvvJIgl+zOUL40nFmABbn204+miHEtFyQGRqcSbCTj6iDx5+0P5gceYyJUnp81S0AR0078IsAd/I2L2cXdOQmyTdtGYZuyKp5koCbqt3wsUxWxmg+RLg709PpTZofsvUF8QQHh++EFm/jLZbhNb atrawog@hxb
EOF

### set permissions
chmod 0600 /root/.ssh/authorized_keys

### fix up selinux context
restorecon -R /root/.ssh/

cat <<EOF >/etc/cloud/cloud.cfg
disable_root: 0
ssh_pwauth:   0

mount_default_fields: [~, ~, 'auto', 'defaults,nofail,x-systemd.requires=cloud-init.service', '0', '2']
resize_rootfs_tmp: /dev
ssh_deletekeys:   0
ssh_genkeytypes:  ~
syslog_fix_perms: ~

cloud_init_modules:
 - disk_setup
 - migrator
 - bootcmd
 - write-files
 - growpart
 - resizefs
 - set_hostname
 - update_hostname
 - update_etc_hosts
 - rsyslog
 - users-groups
 - ssh

cloud_config_modules:
 - mounts
 - locale
 - set-passwords
 - rh_subscription
 - yum-add-repo
 - package-update-upgrade-install
 - timezone
 - puppet
 - chef
 - salt-minion
 - mcollective
 - disable-ec2-metadata
 - runcmd

cloud_final_modules:
 - rightscale_userdata
 - scripts-per-once
 - scripts-per-boot
 - scripts-per-instance
 - scripts-user
 - ssh-authkey-fingerprints
 - keys-to-console
 - phone-home
 - final-message
 - power-state-change

system_info:
  distro: rhel
  paths:
    cloud_dir: /var/lib/cloud
    templates_dir: /etc/cloud/templates
  ssh_svcname: sshd
EOF
cat <<EOF >/etc/ssh/sshd_config
HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_ed25519_key
UseDNS no
SyslogFacility AUTHPRIV
AuthorizedKeysFile .ssh/authorized_keys
PasswordAuthentication no
ChallengeResponseAuthentication no
GSSAPIAuthentication no
GSSAPICleanupCredentials no
UsePAM yes
X11Forwarding no
AcceptEnv LANG LC_CTYPE LC_NUMERIC LC_TIME LC_COLLATE LC_MONETARY LC_MESSAGES
AcceptEnv LC_PAPER LC_NAME LC_ADDRESS LC_TELEPHONE LC_MEASUREMENT
AcceptEnv LC_IDENTIFICATION LC_ALL LANGUAGE
AcceptEnv XMODIFIERS
Subsystem sftp  /usr/libexec/openssh/sftp-server
EOF
%end
